* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  font-family: 'Poppins', sans-serif;
  background-color: #444654;
  color: white;
}

.master--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homescreen-logo--container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.homescreen-logo {
  height: 2em;
  border-radius: 0.5em;
  transition: 0.4s all;
}

.title {
  padding-top: 6vh;
  margin-bottom: 3vh;
  font-weight: 600;
}

.text-area--container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 2vh;
}

.question--textbox {
  border-radius: 0.4rem;
  padding: 0.6em;
  padding-left: 0.7em;
  padding-right: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 80vw;
  height: 18px;
  box-shadow: -1px -2px 10px rgba(0,0,0,0.4);
  line-height: 18px;
  resize: none;
  overflow: hidden;
}

.question--textbox::placeholder {
  font-size: 0.9em;
  color: #8e8ea0;
}

.question--textbox:focus {
  outline: none;
}

.send-btn--container {
  display: flex;
  padding: 0.2em;
  position: absolute;
  right: 0.3em;
  cursor: pointer;
  border-radius: 0.3em;
  transition: 0.4s all;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  background-color: transparent;
  font-size: 1.2em;
  transition: 0.15s all;
}

.response--section {
  display: flex;
  align-items: center;
}


.chatgpt-logo {
  max-width: 2.1em;
  border-radius: 0.25em;
  margin-right: 1em; 
  margin-left: 10vw;
  opacity: 0;
  transition: 0.4s all;
}

.warning-text--container {
  display: flex;
  justify-content: center;
  margin: 0 2em;
  margin-top: 1.5em;
  text-align: center;
  font-size: 10px;
  color: #c5c5d2;
}

.footer-container {
  display: flex;
  justify-content: center;
}
#footer-text {
  font-size: 10px;
}
